body {
    background-color: aquamarine;
}
/*
.gridContainer {
 background-color: black;
 width: 500px;
 height: 100vh;
 display: flex;
 flex-wrap: wrap;
} 
*/



.gridContainer {
    background-color: blanchedalmond;
    margin: auto;
    width: min(90%, 75rem);
    height: auto;
    display: grid;
    gap: 2em;
}

.boxes {
    aspect-ratio: 1;
    background-color: blueviolet;
    padding: 1em;
    border: 5px solid salmon;
    border-radius: 5px;
    }